In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./data/국가철도공단_서울교통공사 출구별 주요 장소_20230925.csv', encoding='cp949')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: './data/국가철도공단_서울교통공사 출구별 주요 장소_20230925.csv'

In [ ]:
df_2 = pd.read_csv('./data/국가철도공단_수도권9호선_역위치_20231106.csv')
df_2.dropna(inplace=True)

In [ ]:
df[(df['선명'] == '7호선') & (df['역명']=='고속터미널')]

     철도운영기관명   선명     역명 출구번호          출구별 주요시설명
5059  서울교통공사  7호선  고속터미널    1  고속버스터미널(경부선/ 영동선)
5060  서울교통공사  7호선  고속터미널    2            반포미도아파트
5061  서울교통공사  7호선  고속터미널    3       고속버스터미널(호남선)
5062  서울교통공사  7호선  고속터미널    3             메리어트호텔
5063  서울교통공사  7호선  고속터미널    3              센트럴시티
5064  서울교통공사  7호선  고속터미널    3             신세계백화점
5065  서울교통공사  7호선  고속터미널    3     우리은행(신세계지하매장옆)
5066  서울교통공사  7호선  고속터미널    4       가톨릭대하교(성의교정)
5067  서울교통공사  7호선  고속터미널    4      가톨릭대학교 강남성모병원
5068  서울교통공사  7호선  고속터미널    5            국립중앙도서관
5069  서울교통공사  7호선  고속터미널    5            서울지방조달청
5070  서울교통공사  7호선  고속터미널    5              기획예산처
5071  서울교통공사  7호선  고속터미널    5            서울팔래스호텔
5072  서울교통공사  7호선  고속터미널    6             잠원초등학교
5073  서울교통공사  7호선  고속터미널    7            공정거래위원회
5074  서울교통공사  7호선  고속터미널    7                조달청
5075  서울교통공사  7호선  고속터미널    7         가톨릭대학교의과대학
5076  서울교통공사  7호선  고속터미널    7       고속버스터미널(호남선)
5077  서울교통공사  7호선  고속터미널    7            국립중앙도서관
5078  서울교통공사  7호선  고속터미널    7              금융위원회
5079  서울교통공사  7호선  고속터미널    7            센트럴시티빌딩
5080  서울교통공사  7호선  고속터미널    8             반포대교방면
5081  서울교통공사  7호선  고속터미널    8  고속버스터미널(경부선/ 호남선)
5082  서울교통공사  7호선  고속터미널    8             강남지하상가
5083  서울교통공사  7호선  고속터미널    8              한신아파트
5084  서울교통공사  7호선  고속터미널    8            반포주공3단지
5085  서울교통공사  7호선  고속터미널  8-1             반포한강공원
5086  서울교통공사  7호선  고속터미널  8-2             반원초등학교

In [ ]:
subway_list = ['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선',
               '인천1호선', '분당선', '경의선', '신분당선', '공항철도', '중앙선', '경춘선', '수인선']

In [ ]:
df_stand = pd.read_excel('./data/전체_도시철도역사정보_20240630.xlsx')
df_stand.head()

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자
0,0124,청량리(서울시립대입구),I4101,1호선,Cheongnyangni (University of Seoul),淸 凉 里(서울市立大入口),도시철도 환승역,I41K1+I41K2+I41K4,수도권 광역철도 분당+수도권 광역철도 경춘+수도권 광역철도 경의중앙,NaN,NaN,서울교통공사,서울특별시 동대문구 왕산로 지하205(전농동),02-6110-1241,2024-02-29
1,0125,제기동,I4101,1호선,Jegidong,祭 基 洞,도시철도 일반역,NaN,NaN,NaN,NaN,서울교통공사,서울특별시 동대문구 왕산로 지하93(제기동),02-6110-1251,2024-02-29
2,0126,신설동,I4101,1호선,Sinseoldong,新 設 洞,도시철도 환승역,S1102,수도권 도시철도 2호선,NaN,NaN,서울교통공사,서울특별시 동대문구 왕산로 지하1(신설동),02-6110-1261,2024-02-29
3,0127,동묘앞,I4101,1호선,Dongmyo,東 廟 앞,도시철도 환승역,S1106,수도권 도시철도 6호선,NaN,NaN,서울교통공사,서울특별시 종로구 종로 359(숭인동),02-6110-1271,2024-02-29
4,0128,동대문,I4101,1호선,Dongdaemun,東 大 門,도시철도 환승역,I1104,수도권 광역철도 4호선,NaN,NaN,서울교통공사,서울특별시 종로구 종로 지하302(창신동),02-6110-1281,2024-02-29

In [ ]:
df_stand[df_stand['노선명'] == '수도권  도시철도 9호선']

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자
849,4126,언주,S1109,수도권 도시철도 9호선,Eonju,彦州,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 강남구 봉은사로 201,NaN,NaT
850,4127,선정릉,S1109,수도권 도시철도 9호선,Seonjeongneung,宣靖陵,도시철도 환승역,I41K1,수인분당선,NaN,NaN,서울시메트로9호선㈜,서울특별시 강남구 선릉로 580,NaN,NaT
851,4128,삼성중앙,S1109,수도권 도시철도 9호선,Samseongjungang,三成中央,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 강남구 봉은사로 501,NaN,NaT
852,4129,봉은사,S1109,수도권 도시철도 9호선,Bongeunsa,奉恩寺,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 강남구 봉은사로 601,NaN,NaT
853,4130,종합운동장,S1109,수도권 도시철도 9호선,Sports Complex,综合运动场,도시철도 환승역,S1102,수도권 도시철도 2호선,NaN,NaN,서울시메트로9호선㈜,서울특별시 송파구 올림픽로 23,NaN,NaT
854,4131,삼전,S1109,수도권 도시철도 9호선,Samjeon,三田,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 송파구 백제고분로 지하 187,NaN,NaT
855,4132,석촌고분,S1109,수도권 도시철도 9호선,Seokchon Gobun,石村古坟,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 송파구 삼학사로 지하 53,NaN,NaT
856,4133,석촌,S1109,수도권 도시철도 9호선,Seokchon,石村,도시철도 환승역,S1108,수도권 도시철도 8호선,NaN,NaN,서울시메트로9호선㈜,서울특별시 송파구 석촌동 209,NaN,NaT
857,4134,송파나루,S1109,수도권 도시철도 9호선,Songpanaru,松坡渡口,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 송파구 백제고분로 지하 446,NaN,NaT
858,4135,한성백제,S1109,수도권 도시철도 9호선,Hanseong Baekje,汉城百济,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 송파구 위례성대로 지하 51,NaN,NaT
859,4136,올림픽공원(한국체대),S1109,수도권 도시철도 9호선,Olympic Park,奥林匹克公园(韩国体育大学),도시철도 환승역,S1105,수도권 도시철도 5호선,NaN,NaN,서울시메트로9호선㈜,서울특별시 송파구 양재대로 지하 1233,NaN,NaT
860,4137,둔촌오륜,S1109,수도권 도시철도 9호선,Dunchon Oryun,遁村五轮,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 강동구 강동대로 지하 327,NaN,NaT
861,4138,중앙보훈병원,S1109,수도권 도시철도 9호선,VHS Medical Center,中央报勋医院,도시철도 일반역,NaN,NaN,NaN,NaN,서울시메트로9호선㈜,서울특별시 강동구 명일로 지하 117,NaN,NaT

In [ ]:
df_stand['노선명'] = df_stand['노선명'].str.replace('수도권  도시철도 9호선', '9호선')

In [ ]:
df_cond1 = df_stand[df_stand['노선명'].isin(subway_list)]

In [ ]:
df

     철도운영기관명   선명            역명 출구번호  출구별 주요시설명
0     서울교통공사  1호선  청량리(서울시립대입구)    1       경동시장
1     서울교통공사  1호선  청량리(서울시립대입구)    1       동서시장
2     서울교통공사  1호선  청량리(서울시립대입구)    2     청량리우체국
3     서울교통공사  1호선  청량리(서울시립대입구)    2     동대문경찰서
4     서울교통공사  1호선  청량리(서울시립대입구)    2     현대코아빌딩
...      ...  ...           ...  ...        ...
5600  서울교통공사  8호선            모란   11     수진동우체국
5601  서울교통공사  8호선            모란   11      성남소방서
5602  서울교통공사  8호선            모란   11  풍생중/ 고등학교
5603  서울교통공사  8호선            모란   12        중앙로
5604  서울교통공사  8호선            모란   12    성남종합운동장

[5605 rows x 5 columns]

In [ ]:
df_4 = pd.read_excel('./data/수도권9호선주소.xlsx')
df_4.head()

  철도운영기관명   선명    역명                   지번주소                 도로명주소  Unnamed: 5
0   서울9호선  9호선    개화    서울특별시 강서구 개화동 493-2  서울특별시 강서구 개화동로 8길 38           2
1   서울9호선  9호선  김포공항      서울특별시 강서구 방화동 886      서울특별시 강서구 하늘길 77           5
2   서울9호선  9호선  공항시장   서울특별시 강서구 공항동 산 20-2     서울특별시 강서구 방화동로 30           4
3   서울9호선  9호선   신방화  서울특별시 강서구 방화동 217-156    서울특별시 강서구 방화대로 301           8
4   서울9호선  9호선  마곡나루    서울특별시 강서구 마곡동 367-6    서울특별시 강서구 마곡중앙5로 2           6

In [ ]:
df_4.fillna(1, inplace=True)

In [ ]:
df_4.columns = ['철도운영기관명', '선명', '역명', '지번주소', '역사도로명주소', '출구번호']

In [ ]:
df_4 = df_4[['철도운영기관명', '선명', '역명', '출구번호', '역사도로명주소']]

In [ ]:
df_4['출구번호'] = df_4['출구번호'].astype('int')

In [ ]:
df_4.columns.tolist()

['철도운영기관명', '선명', '역명', '출구번호', '역사도로명주소']

In [ ]:
def replicate_rows(row):
    return pd.DataFrame([row] * row['출구번호'])

# 각 행을 출구번호에 따라 복제
result = pd.concat([replicate_rows(row) for _, row in df_4.iterrows()], ignore_index=True)
result['출구번호'] = result.groupby(['철도운영기관명', '선명', '역명', '역사도로명주소']).cumcount() + 1

result.head()

  철도운영기관명   선명    역명  출구번호               역사도로명주소
0   서울9호선  9호선    개화     1  서울특별시 강서구 개화동로 8길 38
1   서울9호선  9호선    개화     2  서울특별시 강서구 개화동로 8길 38
2   서울9호선  9호선  김포공항     1      서울특별시 강서구 하늘길 77
3   서울9호선  9호선  김포공항     2      서울특별시 강서구 하늘길 77
4   서울9호선  9호선  김포공항     3      서울특별시 강서구 하늘길 77

In [ ]:
df_concat = pd.concat([df, result], axis=0)

In [ ]:
df_concat

    철도운영기관명   선명            역명 출구번호 출구별 주요시설명 역사도로명주소
0    서울교통공사  1호선  청량리(서울시립대입구)    1      경동시장     NaN
1    서울교통공사  1호선  청량리(서울시립대입구)    1      동서시장     NaN
2    서울교통공사  1호선  청량리(서울시립대입구)    2    청량리우체국     NaN
3    서울교통공사  1호선  청량리(서울시립대입구)    2    동대문경찰서     NaN
4    서울교통공사  1호선  청량리(서울시립대입구)    2    현대코아빌딩     NaN
..      ...  ...           ...  ...       ...     ...
216   서울9호선  9호선          둔촌오륜    1       NaN       1
217   서울9호선  9호선          둔촌오륜    2       NaN       1
218   서울9호선  9호선        중앙보훈병원    1       NaN       1
219   서울9호선  9호선        중앙보훈병원    2       NaN       1
220   서울9호선  9호선        중앙보훈병원    3       NaN       1

[5826 rows x 6 columns]

In [ ]:
df_cond1.drop(['영문역사명', '한자역사명', '환승역구분', '환승노선번호', '환승노선명', '역위도', '역경도', '역사전화번호', '데이터기준일자'], axis=1, inplace=True)

/tmp/ipykernel_777416/1480255801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cond1.drop(['영문역사명', '한자역사명', '환승역구분', '환승노선번호', '환승노선명', '역위도', '역경도', '역사전화번호', '데이터기준일자'], axis=1, inplace=True)

In [ ]:
df_cond1.drop('노선번호', axis=1, inplace=True)

/tmp/ipykernel_777416/1588366761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cond1.drop('노선번호', axis=1, inplace=True)

In [ ]:
df_cond1

      역번호           역사명   노선명     운영기관명                      역사도로명주소
0    0124  청량리(서울시립대입구)   1호선    서울교통공사    서울특별시 동대문구 왕산로 지하205(전농동)
1    0125           제기동   1호선    서울교통공사     서울특별시 동대문구 왕산로 지하93(제기동)
2    0126           신설동   1호선    서울교통공사      서울특별시 동대문구 왕산로 지하1(신설동)
3    0127           동묘앞   1호선    서울교통공사        서울특별시 종로구 종로 359(숭인동)
4    0128           동대문   1호선    서울교통공사      서울특별시 종로구 종로 지하302(창신동)
..    ...           ...   ...       ...                          ...
910  D015          수지구청  신분당선  경기도 신분당선      경기도 용인시 수지구 풍덕천로 지하120
911  D016            성복  신분당선  경기도 신분당선        경기도 용인시 수지구 수지로 지하134
912  D017            상현  신분당선  경기도 신분당선      경기도 용인시 수지구 광교중앙로 지하312
913  D018     광교중앙(아주대)  신분당선  경기도 신분당선         경기도 수원시 영통구 도청로 지하45
914  D019       광교(경기대)  신분당선  경기도 신분당선  경기도 수원시 영통구 대학로 55 신분당선 광교역

[391 rows x 5 columns]

In [ ]:
df_merge = pd.merge(df_concat, df_cond1, how='outer', left_on='역명', right_on='역사명')

In [ ]:
df_merge

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소_x,역번호,역사명,노선명,운영기관명,역사도로명주소_y
0,서울교통공사,3호선,가락시장,1,금호아파트,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
1,서울교통공사,3호선,가락시장,1,금호아파트,NaN,0817,가락시장,8호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
2,서울교통공사,3호선,가락시장,1,남부순환로,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
3,서울교통공사,3호선,가락시장,1,남부순환로,NaN,0817,가락시장,8호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
4,서울교통공사,3호선,가락시장,1,대림아파트,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
...,...,...,...,...,...,...,...,...,...,...,...
7782,서울교통공사,6호선,효창공원앞,6,용문동우체국,NaN,0627,효창공원앞,6호선,서울교통공사,서울특별시 용산구 백범로 지하287(효창동)
7783,서울9호선,9호선,흑석(중앙대입구),1,NaN,서울특별시 동작구 현충로 90,NaN,NaN,NaN,NaN,NaN
7784,서울9호선,9호선,흑석(중앙대입구),2,NaN,서울특별시 동작구 현충로 90,NaN,NaN,NaN,NaN,NaN
7785,서울9호선,9호선,흑석(중앙대입구),3,NaN,서울특별시 동작구 현충로 90,NaN,NaN,NaN,NaN,NaN
7786,서울9호선,9호선,흑석(중앙대입구),4,NaN,서울특별시 동작구 현충로 90,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_merge['노선명'] = df_merge['노선명'].fillna(df_merge['선명'])
df_merge['선명'] = df_merge['선명'].fillna(df_merge['노선명'])

df_merge['역명'] = df_merge['역명'].fillna(df_merge['역사명'])
df_merge['역사명'] = df_merge['역사명'].fillna(df_merge['역명'])

In [ ]:
df_final = df_merge[df_merge['선명'] == df_merge['노선명']]

In [ ]:
df_final.head()

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소_x,역번호,역사명,노선명,운영기관명,역사도로명주소_y
0,서울교통공사,3호선,가락시장,1,금호아파트,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
2,서울교통공사,3호선,가락시장,1,남부순환로,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
4,서울교통공사,3호선,가락시장,1,대림아파트,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
6,서울교통공사,3호선,가락시장,1,우성아파트,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)
8,서울교통공사,3호선,가락시장,2,가락파출소,NaN,0350,가락시장,3호선,서울교통공사,서울특별시 송파구 송파대로 지하257(가락동)

In [ ]:
df_final = df_final.sort_values(by=['선명', '출구번호'])

In [ ]:
df_final.drop(['역사명', '노선명'], axis=1, inplace=True)

In [ ]:
df_final.reset_index(drop=True, inplace=True)

In [ ]:
idx = df_final[['선명', '역명', '출구번호']].drop_duplicates().index

In [ ]:
df_sub = df_final.iloc[idx, :]

In [ ]:
df_sub.reset_index(drop=True, inplace=True)

In [ ]:
df_sub

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소_x,역번호,운영기관명,역사도로명주소_y
0,서울교통공사,1호선,동대문,1,흥인지문 공원,NaN,0128,서울교통공사,서울특별시 종로구 종로 지하302(창신동)
1,서울교통공사,1호선,동묘앞,1,숭인공원,NaN,0127,서울교통공사,서울특별시 종로구 종로 359(숭인동)
2,서울교통공사,1호선,서울역,1,서울역,NaN,0133,서울교통공사,서울특별시 중구 세종대로 지하2(남대문로 5가)
3,서울교통공사,1호선,시청,1,서울시청서소문별관,NaN,0132,서울교통공사,서울특별시 중구 세종대로 지하101(정동)
4,서울교통공사,1호선,신설동,1,대광초등학교,NaN,0126,서울교통공사,서울특별시 동대문구 왕산로 지하1(신설동)
...,...,...,...,...,...,...,...,...,...
1823,NaN,신분당선,수지구청,NaN,NaN,NaN,D015,경기도 신분당선,경기도 용인시 수지구 풍덕천로 지하120
1824,NaN,신분당선,양재시민의숲(매헌),NaN,NaN,NaN,D009,경기도 신분당선,서울특별시 서초구 매헌로 지하 116
1825,NaN,신분당선,정자,NaN,NaN,NaN,D012,경기도 신분당선,경기도 성남시 분당구 성남대로 지하 333
1826,NaN,신분당선,청계산입구,NaN,NaN,NaN,D010,경기도 신분당선,서울특별시 서초구 청계산로 지하 179
1827,NaN,신분당선,판교,NaN,NaN,NaN,D011,경기도 신분당선,경기도 성남시 분당구 판교역로 지하 160

In [ ]:
df_sub['역사도로명주소_y'].isnull().sum()

195

In [ ]:
null_idx = df_sub[(df_sub['역사도로명주소_y'].isnull()) & (df_sub['역사도로명주소_x'].notnull())].index

In [ ]:
df_sub.iloc[null_idx, 8] = df_sub.iloc[null_idx, :]['역사도로명주소_y'].fillna(df_sub.iloc[null_idx, :]['역사도로명주소_x'])

In [ ]:
df_sub[df_sub['역사도로명주소_x'].notnull()]['선명']

1551    9호선
1552    9호선
1553    9호선
1554    9호선
1555    9호선
       ...
1724    9호선
1725    9호선
1726    9호선
1727    9호선
1728    9호선
Name: 선명, Length: 178, dtype: object

In [ ]:
df_sub.drop('역사도로명주소_x', axis=1, inplace=True)

/tmp/ipykernel_777416/2644674758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub.drop('역사도로명주소_x', axis=1, inplace=True)

In [ ]:
df_sub.to_csv('./data/subway_filter.csv', index=False)

In [4]:
df_sub = pd.read_csv('./data/subway_filter.csv')

In [8]:
df_sub.head()

  철도운영기관명   선명   역명 출구번호  출구별 주요시설명   역번호   운영기관명                   역사도로명주소_y
0  서울교통공사  1호선  동대문    1    흥인지문 공원  0128  서울교통공사     서울특별시 종로구 종로 지하302(창신동)
1  서울교통공사  1호선  동묘앞    1       숭인공원  0127  서울교통공사       서울특별시 종로구 종로 359(숭인동)
2  서울교통공사  1호선  서울역    1        서울역  0133  서울교통공사  서울특별시 중구 세종대로 지하2(남대문로 5가)
3  서울교통공사  1호선   시청    1  서울시청서소문별관  0132  서울교통공사     서울특별시 중구 세종대로 지하101(정동)
4  서울교통공사  1호선  신설동    1     대광초등학교  0126  서울교통공사     서울특별시 동대문구 왕산로 지하1(신설동)

In [11]:
df_sub['철도운영기관명'].fillna(df_sub['운영기관명'], inplace=True)

/tmp/ipykernel_775919/2071472341.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sub['철도운영기관명'].fillna(df_sub['운영기관명'], inplace=True)

In [12]:
df_sub['철도운영기관명'].isnull().sum()

0

In [15]:
df_sub.drop('운영기관명', axis=1, inplace=True)

In [19]:
df_sub.sort_values(by=['선명', '역명', '출구번호'])

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역번호,역사도로명주소_y
0,서울교통공사,1호선,동대문,1,흥인지문 공원,0128,서울특별시 종로구 종로 지하302(창신동)
10,서울교통공사,1호선,동대문,10,한방약국가,0128,서울특별시 종로구 종로 지하302(창신동)
30,서울교통공사,1호선,동대문,2,창신동·숭인동,0128,서울특별시 종로구 종로 지하302(창신동)
41,서울교통공사,1호선,동대문,3,창신동·숭인동,0128,서울특별시 종로구 종로 지하302(창신동)
52,서울교통공사,1호선,동대문,4,신설동 방면,0128,서울특별시 종로구 종로 지하302(창신동)
...,...,...,...,...,...,...,...
1823,경기도 신분당선,신분당선,수지구청,NaN,NaN,D015,경기도 용인시 수지구 풍덕천로 지하120
1824,경기도 신분당선,신분당선,양재시민의숲(매헌),NaN,NaN,D009,서울특별시 서초구 매헌로 지하 116
1825,경기도 신분당선,신분당선,정자,NaN,NaN,D012,경기도 성남시 분당구 성남대로 지하 333
1826,경기도 신분당선,신분당선,청계산입구,NaN,NaN,D010,서울특별시 서초구 청계산로 지하 179
1827,경기도 신분당선,신분당선,판교,NaN,NaN,D011,경기도 성남시 분당구 판교역로 지하 160

In [22]:
def convert_exit_number(exit_num):
    if pd.isna(exit_num):  # NaN 값인 경우
        return np.nan
    if '-' in exit_num:  # '2-1'과 같은 경우
        return float(exit_num.replace('-', '.'))
    else:  # 그 외의 경우
        return float(exit_num)

# 출구 번호를 숫자와 문자열로 나누어 처리
df_sub['출구번호_변환'] = df_sub['출구번호'].apply(convert_exit_number)

In [25]:
df_sub.sort_values(by=['선명', '역명', '출구번호_변환'], inplace=True)

In [26]:
df_sub.reset_index(drop=True, inplace=True)

In [28]:
df_sub.drop('출구번호_변환', axis=1, inplace=True)

In [29]:
df_sub.to_excel('./subway.xlsx', index=False)

In [30]:
df_sub.to_csv('./data/subway_filter.csv', index=False)