In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('./data/6110000_서울특별시_07_24_05_P_휴게음식점.csv', encoding='cp949')

/tmp/ipykernel_755273/26678723.py:1: DtypeWarning: Columns (11,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/6110000_서울특별시_07_24_05_P_휴게음식점.csv', encoding='cp949')

In [26]:
df.drop('번호', axis=1, inplace=True)

In [27]:
df.columns

Index(['개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132119 entries, 0 to 132118
Data columns (total 47 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   개방서비스명       132119 non-null  object
 1   개방서비스아이디     132119 non-null  object
 2   개방자치단체코드     132119 non-null  int64
 3   관리번호         132119 non-null  object
 4   인허가일자        132119 non-null  object
 5   인허가취소일자      0 non-null       float64
 6   영업상태구분코드     132119 non-null  int64
 7   영업상태명        132119 non-null  object
 8   상세영업상태코드     132119 non-null  int64
 9   상세영업상태명      132119 non-null  object
 10  폐업일자         94129 non-null   object
 11  휴업시작일자       0 non-null       float64
 12  휴업종료일자       0 non-null       float64
 13  재개업일자        0 non-null       float64
 14  소재지전화        57378 non-null   object
 15  소재지면적        122542 non-null  float64
 16  소재지우편번호      131933 non-null  object
 17  소재지전체주소      131935 non-null  object
 18  도로명전체주소      90589 non-null   object
 19  도로명우편번호      89797 non-null   float64
 20  사업장명         132119 non-null  object
 21  최종수정시점       132119 non-null  object
 22  데이터갱신구분      132119 non-null  object
 23  데이터갱신일자      132119 non-null  object
 24  업태구분명        132119 non-null  object
 25  좌표정보(x)      126114 non-null  float64
 26  좌표정보(y)      126114 non-null  float64
 27  위생업태명        132118 non-null  object
 28  남성종사자수       70085 non-null   float64
 29  여성종사자수       70336 non-null   float64
 30  영업장주변구분명     35836 non-null   object
 31  등급구분명        34355 non-null   object
 32  급수시설구분명      54206 non-null   object
 33  총직원수         34492 non-null   float64
 34  본사직원수        34593 non-null   float64
 35  공장사무직직원수     34593 non-null   float64
 36  공장판매직직원수     34593 non-null   float64
 37  공장생산직직원수     34593 non-null   float64
 38  건물소유구분명      4 non-null       object
 39  보증액          34593 non-null   float64
 40  월세액          34593 non-null   float64
 41  다중이용업소여부     132118 non-null  object
 42  시설총규모        132118 non-null  float64
 43  전통업소지정번호     68 non-null      object
 44  전통업소주된음식     5 non-null       object
 45  홈페이지         0 non-null       float64
 46  Unnamed: 47  0 non-null       float64
dtypes: float64(20), int64(3), object(24)
memory usage: 47.4+ MB

In [29]:
df = df[['개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명',
         '폐업일자', '휴업시작일자', '휴업종료일자','소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '보증액', '월세액', '시설총규모']]

In [30]:
df['업태구분명'].unique()

array(['일반조리판매', '커피숍', '유원지', '기타 휴게음식점', '편의점', '패스트푸드', '푸드트럭', '키즈카페',
       '철도역구내', '백화점', '아이스크림', '전통찻집', '떡카페', '다방', '과자점', '관광호텔',
       '단란주점', '극장', '공항', '호프/통닭', '고속도로', '한식', '기타', '김밥(도시락)', '룸살롱'],
      dtype=object)

In [31]:
df_starbucks = df[df['사업장명'].str.startswith('스타벅스')]

In [32]:
df_cafes = df[df['업태구분명'].isin(['커피숍'])]

In [33]:
df_cafes = df_cafes[~(df_cafes['사업장명'].str.startswith('스타벅스'))]

In [34]:
df_cafes.head()

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,...,도로명전체주소,도로명우편번호,사업장명,업태구분명,좌표정보(x),좌표정보(y),위생업태명,보증액,월세액,시설총규모
1,휴게음식점,07_24_05_P,3210000,3210000-104-2020-00212,2020-08-03,1,영업/정상,1,영업,NaN,...,"서울특별시 서초구 방배천로2안길 49, 1층 (방배동)",6692.0,카페it수다,커피숍,198499.258221,441882.141012,커피숍,NaN,NaN,33.00
5,휴게음식점,07_24_05_P,3130000,3130000-104-2017-00132,2017-04-14,1,영업/정상,1,영업,NaN,...,"서울특별시 마포구 월드컵북로 396, 지하1층 B1087호 (상암동)",3925.0,셀렉토커피 상암누리꿈스퀘어점,커피숍,190250.875092,453017.867203,커피숍,NaN,NaN,43.76
7,휴게음식점,07_24_05_P,3130000,3130000-104-2017-00124,2017-04-10,1,영업/정상,1,영업,NaN,...,"서울특별시 마포구 월드컵로3길 14 (합정동, 마포한강2차푸르지오상업시설 120호)",4024.0,굿애프터눈 합정점,커피숍,192142.271363,449868.964586,커피숍,0.0,0.0,50.42
8,휴게음식점,07_24_05_P,3130000,3130000-104-2017-00127,2017-04-12,1,영업/정상,1,영업,NaN,...,"서울특별시 마포구 동교로41길 14 (연남동, 1층일부)",3983.0,아이엠푸르트 연남동과일가게,커피숍,193216.406716,451203.602122,커피숍,NaN,NaN,20.00
9,휴게음식점,07_24_05_P,3130000,3130000-104-2017-00272,2017-07-21,1,영업/정상,1,영업,NaN,...,"서울특별시 마포구 양화로 161 (동교동, 현대카드 현대캐피탈 홍대사옥1층일부)",3995.0,백미당홍대점,커피숍,193152.623835,450523.471240,커피숍,NaN,NaN,36.30

In [36]:
df_cafes = df_cafes.sort_values(ascending=True, by='인허가일자').reset_index(drop=True)
df_starbucks = df_starbucks.sort_values(ascending=True, by='인허가일자').reset_index(drop=True)

In [37]:
df_starbucks.drop(['보증액', '월세액', '개방서비스아이디'], axis=1, inplace=True)
df_cafes.drop(['보증액', '월세액', '개방서비스아이디'], axis=1, inplace=True)

In [38]:
df_starbucks.drop(['개방서비스명'], axis=1, inplace=True)
df_cafes.drop(['개방서비스명'], axis=1, inplace=True)

In [39]:
df_starbucks.to_csv('./data/starbucks.csv', index=False)
df_cafes.to_csv('./data/cafe.csv', index=False)