In [1]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('./data/등록인구_20240814162128.csv')
df.head()

,동별(1),동별(2),시점,계 (명),계 (명).1,계 (명).2,한국인,한국인.1,등록외국인,등록외국인.1
0,동별(1),동별(2),시점,소계,남자,여자,남자,여자,남자,여자
1,합계,소계,2011 1/4,10581728,5238674,5343054,5107011,5200772,131663,142282
2,합계,소계,2011 2/4,10570064,5231751,5338313,5095751,5192533,136000,145780
3,합계,소계,2011 3/4,10557498,5224009,5333489,5086210,5185670,137799,147819
4,합계,소계,2011 4/4,10528774,5208492,5320282,5073899,5175780,134593,144502

In [35]:
df

,동별(1),동별(2),시점,계 (명),계 (명).1,계 (명).2,한국인,한국인.1,등록외국인,등록외국인.1
0,동별(1),동별(2),시점,소계,남자,여자,남자,여자,남자,여자
1,합계,소계,2011 1/4,10581728,5238674,5343054,5107011,5200772,131663,142282
2,합계,소계,2011 2/4,10570064,5231751,5338313,5095751,5192533,136000,145780
3,합계,소계,2011 3/4,10557498,5224009,5333489,5086210,5185670,137799,147819
4,합계,소계,2011 4/4,10528774,5208492,5320282,5073899,5175780,134593,144502
...,...,...,...,...,...,...,...,...,...,...
958,합계,강동구,2019 1/4,429601,212389,217212,210371,214896,2018,2316
959,합계,강동구,2019 2/4,428547,211752,216795,209746,214489,2006,2306
960,합계,강동구,2019 3/4,430522,212590,217932,210593,215626,1997,2306
961,합계,강동구,2019 4/4,440390,217338,223052,215335,220732,2003,2320
962,합계,강동구,2020 1/4,457042,225226,231816,223189,229457,2037,2359

In [36]:
df.columns = ['동별(1)', '동별', '시점', '소계', '소계_남자', '소계_여자', '한국_남자', '한국_여자', '외국_남자', '외국_여자']

In [37]:
df.drop(index=0, inplace=True)

In [38]:
df.drop('동별(1)', axis=1, inplace=True)

In [39]:
df = df[df['동별'] != '소계']

In [40]:
df['시점'] = df['시점'].str.replace('1/4', '-01')
df['시점'] = df['시점'].str.replace('2/4', '-04')
df['시점'] = df['시점'].str.replace('3/4', '-07')
df['시점'] = df['시점'].str.replace('4/4', '-10')

/tmp/ipykernel_756730/3252555826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시점'] = df['시점'].str.replace('1/4', '-01')
/tmp/ipykernel_756730/3252555826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시점'] = df['시점'].str.replace('2/4', '-04')
/tmp/ipykernel_756730/3252555826.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시점'] = df['시점'].str.replace('3/4', '-07')
/tmp/ipykernel_756730/3252555826.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시점'] = df['시점'].str.replace('4/4', '-10')

In [41]:
df['시점'].unique()

array(['2011 -01', '2011 -04', '2011 -07', '2011 -10', '2012 -01',
       '2012 -04', '2012 -07', '2012 -10', '2013 -01', '2013 -04',
       '2013 -07', '2013 -10', '2014 -01', '2014 -04', '2014 -07',
       '2014 -10', '2015 -01', '2015 -04', '2015 -07', '2015 -10',
       '2016 -01', '2016 -04', '2016 -07', '2016 -10', '2017 -01',
       '2017 -04', '2017 -07', '2017 -10', '2018 -01', '2018 -04',
       '2018 -07', '2018 -10', '2019 -01', '2019 -04', '2019 -07',
       '2019 -10', '2020 -01'], dtype=object)

In [43]:
df['시점'] = pd.to_datetime(df['시점'].str.replace(' ', '') + '-01')

/tmp/ipykernel_756730/955849182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시점'] = pd.to_datetime(df['시점'].str.replace(' ', '') + '-01')

In [46]:
df['year'] = df['시점'].dt.year
df['quarter'] = df['시점'].dt.quarter

/tmp/ipykernel_756730/1319765994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['시점'].dt.year
/tmp/ipykernel_756730/1319765994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['시점'].dt.quarter

In [48]:
df.to_csv('./data/total_p.csv', index=False)

In [50]:
df.drop(['소계_남자', '소계_여자', '한국_남자', '한국_여자', '외국_남자', '외국_여자'], axis=1, inplace=True)

/tmp/ipykernel_756730/1949995856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['소계_남자', '소계_여자', '한국_남자', '한국_여자', '외국_남자', '외국_여자'], axis=1, inplace=True)

In [52]:
df.to_csv('./data/main_p.csv', index=False)