In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('./data/subway.xlsx')
df.head()

  철도운영기관명   선명   역명 출구번호 출구별 주요시설명   역번호                역사도로명주소_y
0  서울교통공사  1호선  동대문    1   흥인지문 공원  0128  서울특별시 종로구 종로 지하302(창신동)
1  서울교통공사  1호선  동대문    2   창신동·숭인동  0128  서울특별시 종로구 종로 지하302(창신동)
2  서울교통공사  1호선  동대문    3   창신동·숭인동  0128  서울특별시 종로구 종로 지하302(창신동)
3  서울교통공사  1호선  동대문    4    신설동 방면  0128  서울특별시 종로구 종로 지하302(창신동)
4  서울교통공사  1호선  동대문    5    청계천 방면  0128  서울특별시 종로구 종로 지하302(창신동)

In [5]:
df.shape

(1828, 7)

In [7]:
df['철도운영기관명'].unique()

array(['서울교통공사', '서울9호선', '한국철도공사', '경기도 신분당선'], dtype=object)

In [52]:
df_seoul = pd.read_excel('./data/seoul_sub.xlsx')
df_9 = pd.read_excel('./data/nine_sub.xlsx')
df_new = pd.read_excel('./data/new_bundang.xlsx')

/home/dabs/.conda/envs/InHeon/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
/home/dabs/.conda/envs/InHeon/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [53]:
df_seoul.columns

Index(['No', '철도운영기관명', '운영노선', '역 종류', '역 번호', '역명(한글)', '역명(영어)', '역명(로마자)',
       '역명(일본어)', '역명(중국어간체)', '역명(중국어번체)', '역명(부역명)', '환승역 여부', '환승노선명',
       '유실물 취급여부', '안전발판 유무', '스크린도어 설치유무', '승강장 연결여부', '승강장 유형', '역 위치(경도)',
       '역 위치(위도)', '역 주소(지번주소)', '역 주소(도로명 주소)', '역사 전화번호', '신설일자', '폐지일자',
       '상행거리', '하행거리', '데이터 기준일자', '참고사항'],
      dtype='object')

In [54]:
df_seoul = df_seoul[['철도운영기관명', '운영노선', '역 번호', '역명(한글)', '역 위치(경도)','역 위치(위도)', 
                     '역 주소(지번주소)', '역 주소(도로명 주소)', '신설일자', '데이터 기준일자']]

In [55]:
df_seoul.head()

,철도운영기관명,운영노선,역 번호,역명(한글),역 위치(경도),역 위치(위도),역 주소(지번주소),역 주소(도로명 주소),신설일자,데이터 기준일자
0,서울교통공사,1호선,150,서울역,126.972533,37.553150,서울특별시 중구 남대문로5가 73-6 서울역(1호선),서울특별시 중구 세종대로 지하2(남대문로 5가),19740815,20240514
1,서울교통공사,1호선,151,시청,126.975407,37.563590,서울특별시 중구 정동 5-5 시청역(1호선),서울특별시 중구 세종대로 지하101(정동),19740815,20240514
2,서울교통공사,1호선,152,종각,126.983116,37.570203,서울특별시 종로구 종로1가 54 종각역(1호선),서울특별시 종로구 종로 지하55(종로1가),19740815,20240514
3,서울교통공사,1호선,153,종로3가,126.992095,37.570429,서울특별시 종로구 종로3가 10-5 종로3가역(1호선),서울특별시 종로구 종로 지하129(종로3가),19740815,20240514
4,서울교통공사,1호선,154,종로5가,127.001900,37.570971,서울특별시 종로구 종로5가 82-1 종로5가역(1호선),서울특별시 종로구 종로 지하216(종로5가),19740815,20240514

In [56]:
df_9 = df_9[['철도운영기관명', '운영노선', '역 번호', '역명(한글)', '역 위치(경도)','역 위치(위도)', 
             '역 주소(지번주소)', '역 주소(도로명 주소)', '신설일자', '데이터 기준일자']]

In [59]:
df_9.head()

,철도운영기관명,운영노선,역 번호,역명(한글),역 위치(경도),역 위치(위도),역 주소(지번주소),역 주소(도로명 주소),신설일자,데이터 기준일자
0,서울9호선,9호선,901,개화역,NaN,NaN,NaN,서울시 강서구 개화동로8길 19,20090724,20240513
1,서울9호선,9호선,902,김포공항,NaN,NaN,NaN,서울시 강서구 하늘길 지하77,20090724,20240513
2,서울9호선,9호선,903,공항시장,NaN,NaN,NaN,서울시 강서구 방화동로 지하30,20090724,20240513
3,서울9호선,9호선,904,신방화역,NaN,NaN,NaN,서울특별시 강서구 방화대로 301,20090724,20240513
4,서울9호선,9호선,905,마곡나루,NaN,NaN,NaN,서울시 강서구 마곡중앙5로 지하2,20140524,20240513

In [60]:
df_new = df_new[['철도운영기관명', '운영노선', '역 번호', '역명(한글)', '역 위치(경도)','역 위치(위도)', 
                '역 주소(지번주소)', '역 주소(도로명 주소)', '신설일자', '데이터 기준일자']]

df_new.head()

,철도운영기관명,운영노선,역 번호,역명(한글),역 위치(경도),역 위치(위도),역 주소(지번주소),역 주소(도로명 주소),신설일자,데이터 기준일자
0,신분당선,신분당선,4304,신사역,37.516287,127.020023,서울시 강남구 신사동 667,서울시 강남구 도산대로 102,20220528,20240509
1,신분당선,신분당선,4305,논현역,37.509647,127.022055,서울시 강남구 논현동 280번지,서울시 강남구 학동로 지하 102,20220528,20240509
2,신분당선,신분당선,4306,신논현역,37.504063,127.024407,서울시 강남구 역삼동 800,서울시 강남구 봉은사로 지하 102,20220528,20240509
3,신분당선,신분당선,4307,강남역,37.496068,127.028506,서울특별시 강남구 역삼동 858 강남역,서울특별시 강남구 강남대로 지하396,20111028,20240509
4,신분당선,신분당선,4308,양재(서초구청),37.484117,127.034371,서울 서초구 양재동 1366-9 신분당선 양재역,서울 서초구 남부순환로 2585 신분당선 양재역,20111028,20240509

In [64]:
df_9_2 = pd.read_csv('./data/Raw_data/국가철도공단_수도권9호선_역위치_20231106.csv')

In [74]:
df_9['역 위치(경도)'].fillna(df_9_2['경도'], inplace=True)
df_9['역 위치(위도)'].fillna(df_9_2['위도'], inplace=True)

/tmp/ipykernel_798246/592878567.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_9['역 위치(위도)'].fillna(df_9_2['위도'], inplace=True)

In [76]:
df_concat = pd.concat([df_seoul, df_9, df_new], axis=0)

In [78]:
df_concat.to_csv('./data/sub_concat.csv', index=False)
df_concat.to_excel('./data/sub_concat.xlsx', index=False)

In [86]:
original_list = df['역명'].unique().tolist()

In [85]:
concat_list = df_concat['역명(한글)'].unique().tolist()

In [96]:
non_concat_list = []
non_ori_list = []

for i in concat_list:
    if i not in original_list:
        non_concat_list.append(i)
        
for i in original_list:
    if i not in concat_list:
        non_ori_list.append(i)

In [110]:
df_not_in = df_concat[df_concat['역명(한글)'].isin(non_concat_list)].copy()

In [111]:
df_not_in.drop(['역 위치(경도)', '역 위치(위도)', '역 주소(지번주소)', '신설일자', '데이터 기준일자'], axis=1, inplace=True)

In [113]:
df_not_in.columns = ['철도운영기관명', '선명', '역번호', '역명', '역사도로명주소_y']

In [115]:
df_not_in = df_not_in[['철도운영기관명', '선명', '역명', '역번호', '역사도로명주소_y']]

In [119]:
df_not_in[['출구번호', '출구별 주요시설명']] = np.nan

/tmp/ipykernel_798246/3236250421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_in[['출구번호', '출구별 주요시설명']] = np.nan
/tmp/ipykernel_798246/3236250421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_in[['출구번호', '출구별 주요시설명']] = np.nan

In [122]:
df_not_in = df_not_in[['철도운영기관명', '선명', '역명', '출구번호', '출구별 주요시설명', '역번호', '역사도로명주소_y']]

In [128]:
df_not_in['철도운영기관명'] = df_not_in['철도운영기관명'].str.replace('신분당선', '경기도 신분당선')

In [129]:
df_total = pd.concat([df, df_not_in], axis=0)

In [131]:
df_total = df_total.sort_values(by=['선명', '역명', '출구번호'])

In [132]:
df_total.reset_index(drop=True, inplace=True)

In [140]:
df_total.head(2)

  철도운영기관명   선명   역명 출구번호 출구별 주요시설명   역번호                역사도로명주소_y    merge
0  서울교통공사  1호선  동대문    1   흥인지문 공원  0128  서울특별시 종로구 종로 지하302(창신동)  1호선 동대문
1  서울교통공사  1호선  동대문   10     한방약국가  0128  서울특별시 종로구 종로 지하302(창신동)  1호선 동대문

In [139]:
df_total['merge'] = df_total['선명']+' '+df_total['역명']
df_concat['merge'] = df_concat['운영노선']+' '+df_concat['역명(한글)']

In [141]:
df_concat.head(2)

,철도운영기관명,운영노선,역 번호,역명(한글),역 위치(경도),역 위치(위도),역 주소(지번주소),역 주소(도로명 주소),신설일자,데이터 기준일자,merge
0,서울교통공사,1호선,150,서울역,126.972533,37.55315,서울특별시 중구 남대문로5가 73-6 서울역(1호선),서울특별시 중구 세종대로 지하2(남대문로 5가),19740815,20240514,1호선 서울역
1,서울교통공사,1호선,151,시청,126.975407,37.56359,서울특별시 중구 정동 5-5 시청역(1호선),서울특별시 중구 세종대로 지하101(정동),19740815,20240514,1호선 시청

In [145]:
df_total['철도운영기관명'].unique()

array(['서울교통공사', '서울9호선', '한국철도공사', '경기도 신분당선'], dtype=object)

In [148]:
df_total

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역번호,역사도로명주소_y,merge
0,서울교통공사,1호선,동대문,1,흥인지문 공원,0128,서울특별시 종로구 종로 지하302(창신동),1호선 동대문
1,서울교통공사,1호선,동대문,10,한방약국가,0128,서울특별시 종로구 종로 지하302(창신동),1호선 동대문
2,서울교통공사,1호선,동대문,2,창신동·숭인동,0128,서울특별시 종로구 종로 지하302(창신동),1호선 동대문
3,서울교통공사,1호선,동대문,3,창신동·숭인동,0128,서울특별시 종로구 종로 지하302(창신동),1호선 동대문
4,서울교통공사,1호선,동대문,4,신설동 방면,0128,서울특별시 종로구 종로 지하302(창신동),1호선 동대문
...,...,...,...,...,...,...,...,...
1840,경기도 신분당선,신분당선,양재시민의숲(매헌),NaN,NaN,D009,서울특별시 서초구 매헌로 지하 116,신분당선 양재시민의숲(매헌)
1841,경기도 신분당선,신분당선,정자,NaN,NaN,D012,경기도 성남시 분당구 성남대로 지하 333,신분당선 정자
1842,경기도 신분당선,신분당선,청계산입구,NaN,NaN,D010,서울특별시 서초구 청계산로 지하 179,신분당선 청계산입구
1843,경기도 신분당선,신분당선,판교,NaN,NaN,D011,경기도 성남시 분당구 판교역로 지하 160,신분당선 판교
1844,경기도 신분당선,신분당선,판교 (판교테크노밸리),NaN,NaN,4311,경기 성남시 분당구 판교역로 160,신분당선 판교 (판교테크노밸리)

In [150]:
df_final = pd.merge(df_total, df_concat, how='left', on='merge')

In [152]:
df_final.drop(['merge', '철도운영기관명_y', '역명(한글)', '데이터 기준일자'], axis=1, inplace=True)

In [155]:
df_final.columns = ['철도운영기관명',
 '선명',
 '역명',
 '출구번호',
 '출구별 주요시설명',
 '역번호',
 '역사도로명주소',
 '운영노선',
 '역 번호',
 '경도',
 '위도',
 '역 주소(지번주소)',
 '역 주소(도로명 주소)',
 '신설일자']

In [157]:
df_final.to_csv('./sub_merge.csv', index=False)
df_final.to_excel('./sub_merge.xlsx', index=False)