In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./data/cafe.csv')
df.head()

,개방자치단체코드,관리번호,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,...,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,업태구분명,좌표정보(x),좌표정보(y),위생업태명,시설총규모
0,3010000,3010000-104-1967-00881,1967-10-07,3,폐업,2,폐업,2005-01-28,NaN,NaN,...,100-812,서울특별시 중구 방산동 112-3번지,NaN,NaN,동경 커피숍,커피숍,200077.105009,451751.591488,커피숍,79.81
1,3000000,3000000-104-1967-09740,1967-10-13,1,영업/정상,1,영업,NaN,NaN,NaN,...,110-836,서울특별시 종로구 종로5가 182-3 (1층),"서울특별시 종로구 종로 222 (종로5가,(1층))",3196.0,왕관 커피숍,커피숍,200138.733378,452051.937703,커피숍,76.02
2,3000000,3000000-104-1970-09739,1970-02-02,1,영업/정상,1,영업,NaN,NaN,NaN,...,110-420,서울특별시 종로구 관수동 4-1번지 (지하1층),"서울특별시 종로구 수표로 93-1 (관수동,(지하1층))",3191.0,아사녀,커피숍,198979.758848,451921.599184,커피숍,112.60
3,3130000,3130000-104-1971-06263,1971-02-04,3,폐업,2,폐업,2013-04-01,NaN,NaN,...,121-897,서울특별시 마포구 합정동 374-1번지,NaN,NaN,탑커피숍,커피숍,192271.504846,449586.060150,커피숍,100.47
4,3080000,3080000-104-1971-01601,1971-11-15,1,영업/정상,1,영업,NaN,NaN,NaN,...,142-803,서울특별시 강북구 미아동 190-1번지,서울특별시 강북구 도봉로 242 (미아동),1132.0,마니커피숍,커피숍,202132.411671,458690.802597,커피숍,126.00

In [4]:
df['인허가일자'] = pd.to_datetime(df['인허가일자'])
df['폐업일자'] = pd.to_datetime(df['폐업일자'])

In [5]:
df['Start_Year'] = df['인허가일자'].dt.year
df['Start_Q'] = df['인허가일자'].dt.quarter
df['End_Year'] = df['폐업일자'].dt.year
df['End_Q'] = df['폐업일자'].dt.quarter

In [6]:
start_date = '2011-01-01'
end_date = '2020-03-31'

df = df[~(df['인허가일자'] > end_date)]

In [7]:
df = df[~(df['폐업일자'] < start_date)]

In [8]:
df.reset_index(drop=True, inplace=True)

In [9]:
df.head(1)

,개방자치단체코드,관리번호,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,...,사업장명,업태구분명,좌표정보(x),좌표정보(y),위생업태명,시설총규모,Start_Year,Start_Q,End_Year,End_Q
0,3000000,3000000-104-1967-09740,1967-10-13,1,영업/정상,1,영업,NaT,NaN,NaN,...,왕관 커피숍,커피숍,200138.733378,452051.937703,커피숍,76.02,1967,4,NaN,NaN

In [10]:
df.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명',
       '폐업일자', '휴업시작일자', '휴업종료일자', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소',
       '도로명우편번호', '사업장명', '업태구분명', '좌표정보(x)', '좌표정보(y)', '위생업태명', '시설총규모',
       'Start_Year', 'Start_Q', 'End_Year', 'End_Q'],
      dtype='object')

In [11]:
df = df[['인허가일자', '상세영업상태명', '폐업일자', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
        '사업장명', '좌표정보(x)', '좌표정보(y)', '시설총규모', 'Start_Year', 'Start_Q', 'End_Year', 'End_Q']]

In [12]:
df.to_csv('./data/cafe_2011_2020.csv', index=False)

In [13]:
df

,인허가일자,상세영업상태명,폐업일자,소재지면적,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(x),좌표정보(y),시설총규모,Start_Year,Start_Q,End_Year,End_Q
0,1967-10-13,영업,NaT,76.02,110-836,서울특별시 종로구 종로5가 182-3 (1층),"서울특별시 종로구 종로 222 (종로5가,(1층))",3196.0,왕관 커피숍,200138.733378,452051.937703,76.02,1967,4,NaN,NaN
1,1970-02-02,영업,NaT,NaN,110-420,서울특별시 종로구 관수동 4-1번지 (지하1층),"서울특별시 종로구 수표로 93-1 (관수동,(지하1층))",3191.0,아사녀,198979.758848,451921.599184,112.60,1970,1,NaN,NaN
2,1971-02-04,폐업,2013-04-01,100.47,121-897,서울특별시 마포구 합정동 374-1번지,NaN,NaN,탑커피숍,192271.504846,449586.060150,100.47,1971,1,2013.0,2.0
3,1971-11-15,영업,NaT,126.00,142-803,서울특별시 강북구 미아동 190-1번지,서울특별시 강북구 도봉로 242 (미아동),1132.0,마니커피숍,202132.411671,458690.802597,126.00,1971,4,NaN,NaN
4,1974-03-09,폐업,2023-07-06,119.06,110-852,서울특별시 종로구 종로4가 137-3,서울특별시 종로구 종로 188 (종로4가),3195.0,원제커피전문점,199811.963354,452026.996611,119.06,1974,1,2023.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,2020-03-31,영업,NaT,168.36,139-808,서울특별시 노원구 공릉동 678-2번지 공릉가로공원내,"서울특별시 노원구 화랑로 446, 공릉가로공원내 (공릉동)",1849.0,공릉청춘카페,206717.089113,457272.197955,168.36,2020,1,NaN,NaN
23496,2020-03-31,영업,NaT,16.50,150-733,서울특별시 영등포구 여의도동 43번지 미원빌딩,"서울특별시 영등포구 국제금융로 70, 미원빌딩 1층 116(일부)호 (여의도동)",7333.0,그냥,193798.948252,446579.652566,16.50,2020,1,NaN,NaN
23497,2020-03-31,폐업,2023-09-20,67.25,137-800,서울특별시 서초구 반포동 2-8 158호,"서울특별시 서초구 신반포로15길 29, 신반포상가 1층 158호 (반포동)",6503.0,뉴트리미(NutriMe),199448.513022,444800.550773,67.25,2020,1,2023.0,3.0
23498,2020-03-31,영업,NaT,33.00,122-906,서울특별시 은평구 응암동 96-14 1층,"서울특별시 은평구 은평로 166, 1층 (응암동)",3462.0,메가엠지씨커피 은평구청사거리점,193408.878643,455423.633776,33.00,2020,1,NaN,NaN
23499,2020-03-31,영업,NaT,45.36,143-840,서울특별시 광진구 군자동 361-31,"서울특별시 광진구 군자로10길 14-15, 1층 (군자동)",5005.0,비알32 어린이대공원점,206254.601160,449569.618402,45.36,2020,1,NaN,NaN